#groups li {
    background-color: #FFFF;
    width: 100%;
    overflow: auto;
}

#groups {
    padding: 1em;
    list-style-type: none;
}

.divTour {
    padding: 0 2em;
}

span {
    display:inline-block;
    width:33%;
    text-align: left;
}

.bookNowButton {
    float: right;
}

li {
    margin: 0 0 0.2em 0;
}

br {
    size: 0.2em;
}

body {
    background-color: #6699cc;
}

ul li~li { border-top: 0.5em solid #6699cc; }

.ulTours {
    padding: 0;
}

h1 {
    color: #FFFFFF;
}